<?xml version="1.0"?>
<config>
    <modules>
        <Bubble_Api>
            <version>1.0.0</version>
        </Bubble_Api>
    </modules>
    <global>
        <helpers>
            <bubble_api>
                <class>Bubble_Api_Helper</class>
            </bubble_api>
        </helpers>
        <models>
            <catalog>
                <rewrite>
                    <product_api>Bubble_Api_Model_Catalog_Product_Api</product_api>
                    <product_api_v2>Bubble_Api_Model_Catalog_Product_Api_V2</product_api_v2>
                </rewrite>
            </catalog>
        </models>
        <blocks>
            <bubble_api>
                <class>Bubble_Api_Block</class>
            </bubble_api>
        </blocks>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Bubble_Api>
                    <files>
                        <default>Bubble_Api.csv</default>
                    </files>
                </Bubble_Api>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <bubble_api>
            <config>
                <categories_separator><![CDATA[//]]></categories_separator>
            </config>
        </bubble_api>
    </default>
</config>