<?xml version="1.0"?>
<config>
    <sections>
        <api translate="label" module="api">
            <groups>
                <config translate="label">
                    <fields>
                        <categories_separator translate="label">
                            <label>Categories Separator</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </categories_separator>
                    </fields>
                </config>
            </groups>
        </api>
    </sections>
</config>
